{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Service Start -->
    <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Master Chefs</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                                <h5>Quality Food</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                                <h5>Online Order</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>24/7 Service</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Service End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{% static 'bootstrap-restaurant-template/img/about-1.jpg' %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{% static 'bootstrap-restaurant-template/img/about-2.jpg' %}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{% static 'bootstrap-restaurant-template/img/about-3.jpg' %}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'bootstrap-restaurant-template/img/about-4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                        <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Restoran</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.</p>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">17</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'about' %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- About End -->

    <!-- Menu Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                <h1 class="mb-5">Most Popular Items</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" id="breakfast-tab" data-bs-toggle="pill" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
                            <i class="fa fa-coffee fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Popular</small>
                                <h6 class="mt-n1 mb-0">Breakfast</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="d-flex align-items-center text-start mx-3 pb-3" id="lunch-tab" data-bs-toggle="pill" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
                            <i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Special</small>
                                <h6 class="mt-n1 mb-0">Lunch</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" id="dinner-tab" data-bs-toggle="pill" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Lovely</small>
                                <h6 class="mt-n1 mb-0">Dinner</h6>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active" role="tabpanel" aria-labelledby="breakfast-tab">
                        <div class="row g-4">
                            {% for food in foods %}
                                {% if food.food_type.name == 'Breakfast' %}
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt="" style="width: 80px;">
                                            <div class="w-100 d-flex flex-column text-start ps-4">
                                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                    <span>{{ food.name }}</span>
                                                    <span class="text-primary">{{ food.price }}$</span>
                                                </h5>
                                                <small class="fst-italic">{{ food.ingredients }}</small>
                                                <small class="fst-italic">{{ food.calories }}  kcal</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0" role="tabpanel" aria-labelledby="lunch-tab">
                        <div class="row g-4">

                            {% for food in foods %}
                                {% if food.food_type.name == 'Lunch' %}
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt="" style="width: 80px;">
                                            <div class="w-100 d-flex flex-column text-start ps-4">
                                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                    <span>{{ food.name }}</span>
                                                    <span class="text-primary">{{ food.price }}$</span>
                                                </h5>
                                                <small class="fst-italic">{{ food.ingredients }}</small>
                                                <small class="fst-italic">{{ food.calories }}  kcal</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane fade show p-0" role="tabpanel" aria-labelledby="dinner-tab">
                        <div class="row g-4">

                            {% for food in foods %}
                                {% if food.food_type.name == 'Dinner' %}
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt="" style="width: 80px;">
                                            <div class="w-100 d-flex flex-column text-start ps-4">
                                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                    <span>{{ food.name }}</span>
                                                    <span class="text-primary">{{ food.price }}$</span>
                                                </h5>
                                                <small class="fst-italic">{{ food.ingredients }}</small>
                                                <small class="fst-italic">{{ food.calories }}  kcal</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!-- Menu End -->

    <!-- Reservation Start -->
    <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="video">
                    <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://youtu.be/0e3GPea1Tyg?si=IoEuGFRLMnDEwJ4W" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 bg-dark d-flex align-items-center">
                <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                    <h1 class="text-white mb-4">Book A Table Online</h1>
                        <div class="row g-3">
                            <form method="post">
                            {% csrf_token %}
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        {{ form.name }}
                                        <label for="id_name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        {{ form.email }}
                                        <label for="id_email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        {{ form.time }}
                                        <label for="id_time">Date & Time</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        {{ form.people }}
                                        <label for="id_people">No Of People</label>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        {{ form.request }}
                                        <label for="id_request">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation Start -->

    <!-- Team Start -->
    <div class="container-xxl pt-5 pb-3">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
                <h1 class="mb-5">Our Master Chefs</h1>
            </div>
            <div class="row" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                {% for chef in chefs %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4" style="padding: 10px;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4" style="width: 150px; height: 150px; overflow: hidden; margin: 0 auto;">
                            <img class="img-fluid" src="{{ chef.avatar.url }}" alt="" style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover;">
                        </div>
                        <h5 class="mb-0">{{ chef.first_name }} {{ chef.last_name }}</h5>
                        <small>{{ chef.position }}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href="{{ chef.social_media_link }}"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href="{{ chef.social_media_link }}"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href="{{ chef.social_media_link }}"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if is_paginated %}
                    <nav class="navigation pagination" style="text-align: center; margin: 20px 0;">
                        <div class="nav-links" style="display: inline-block;">
                            {% if page_obj.has_previous %}
                                <a class="prev page-numbers" href="?page={{ page_obj.previous_page_number }}" style="margin: 0 5px; padding: 5px 10px; text-decoration: none; color: #007bff; border: 1px solid #007bff; border-radius: 4px; font-size: 14px;">
                                    <i class="fa fa-long-arrow-left"></i> Previous
                                </a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a href="#" class="btn_pagging active" style="margin: 0 5px; padding: 5px 10px; text-decoration: none; color: white; background-color: #007bff; border-color: #007bff; border-radius: 4px; font-size: 14px;">
                                        {{ num }}
                                    </a>
                                {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                                    <a href="?page={{ num }}" class="btn_pagging" style="margin: 0 5px; padding: 5px 10px; text-decoration: none; color: #007bff; border: 1px solid #007bff; border-radius: 4px; font-size: 14px;">
                                        {{ num }}
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="next page-numbers" href="?page={{ page_obj.next_page_number }}" style="margin: 0 5px; padding: 5px 10px; text-decoration: none; color: #007bff; border: 1px solid #007bff; border-radius: 4px; font-size: 14px;">
                                    Next <i class="fa fa-long-arrow-right"></i>
                                </a>
                            {% endif %}
                        </div>
                    </nav>
                {% endif %}
            </div>
        </div>
</div>
    <!-- Team End -->
{% endblock %}