{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Menu Start -->
<div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                    <h1 class="mb-5">Most Popular Items</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" id="breakfast-tab" data-bs-toggle="pill" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
                                <i class="fa fa-coffee fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Popular</small>
                                    <h6 class="mt-n1 mb-0">Breakfast</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" id="lunch-tab" data-bs-toggle="pill" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
                                <i class="fa fa-hamburger fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Special</small>
                                    <h6 class="mt-n1 mb-0">Lunch</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" id="dinner-tab" data-bs-toggle="pill" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Lovely</small>
                                    <h6 class="mt-n1 mb-0">Dinner</h6>
                                </div>
                            </a>
                        </li>
                    </ul>




                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active" role="tabpanel" aria-labelledby="breakfast-tab">
                            <div class="row g-4">
                                {% for food in foods %}
                                    {% if food.food_type.name == 'Breakfast' %}
                                        <div class="col-lg-6">
                                            <div class="d-flex align-items-center">
                                                <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt="" style="width: 80px;">
                                                <div class="w-100 d-flex flex-column text-start ps-4">
                                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                        <span>{{ food.name }}</span>
                                                        <span class="text-primary">{{ food.price }}$</span>
                                                    </h5>
                                                    <small class="fst-italic">{{ food.ingredients }}</small>
                                                    <small class="fst-italic">{{ food.calories }}  kcal</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0" role="tabpanel" aria-labelledby="lunch-tab">
                            <div class="row g-4">

                                {% for food in foods %}
                                    {% if food.food_type.name == 'Lunch' %}
                                        <div class="col-lg-6">
                                            <div class="d-flex align-items-center">
                                                <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt="" style="width: 80px;">
                                                <div class="w-100 d-flex flex-column text-start ps-4">
                                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                        <span>{{ food.name }}</span>
                                                        <span class="text-primary">{{ food.price }}$</span>
                                                    </h5>
                                                    <small class="fst-italic">{{ food.ingredients }}</small>
                                                    <small class="fst-italic">{{ food.calories }}  kcal</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0" role="tabpanel" aria-labelledby="dinner-tab">
                            <div class="row g-4">

                                {% for food in foods %}
                                    {% if food.food_type.name == 'Dinner' %}
                                        <div class="col-lg-6">
                                            <div class="d-flex align-items-center">
                                                <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt="" style="width: 80px;">
                                                <div class="w-100 d-flex flex-column text-start ps-4">
                                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                        <span>{{ food.name }}</span>
                                                        <span class="text-primary">{{ food.price }}$</span>
                                                    </h5>
                                                    <small class="fst-italic">{{ food.ingredients }}</small>
                                                    <small class="fst-italic">{{ food.calories }}  kcal</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<!-- Menu End -->

{% endblock %}